.cem {width:100%; position:relative;}
/* larguras especificas GRID */
    .grid{width:990px; margin:0 auto; max-width:990px;}
	.grid:after{content: ""; display: table; clear:both;}
	.grid-pad {padding: 10px 0 10px 10px;}
	.grid-pad > [class*='col-']:last-of-type {padding-right: 10px;}
	[class*='col-'] {float:left; padding-right: 10px; background-clip:content-box;}

		.col-1-3 {width: 33.33%;}
		.col-2-3 {width: 66.66%;} 
		.col-1-4 {width: 25%;}
		.col-2-4 {width: 50%;}
		.col-3-4 {width: 75%;}
		.col-1-5 {width: 20%;}
		.col-2-5 {width: 40%;} 
		.col-3-5 {width: 60%;}
		.col-4-5 {width: 80%;}