//menu
.menu{
    float:left;
    }
    .menu-item{
        float:left; margin:10px 5px;
        a{
            /*@include fonte-fina(1.1em);*/ color:$cl4; padding:60px 10px 10px; float:left;
            &:hover{
                color:$cl2;
            }    
        }
    } 