
// Tamanho dinamico
@mixin caixa($width, $height : $width){
width:$width;
height:$height; 
} 

// Largura e altura dinamica por compass
@mixin image-box($imageUrl) {
    width  : image-width($imageUrl);
    height : image-height($imageUrl);
    background-image : image-url($imageUrl);
}

//position absolute
@mixin pos-center{    
position: absolute;
left:0;
right:0; 
}

//clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// background e cor
@mixin bg($bg, $cor : $bg){
background:$bg;
color:$cor; 
}