// Cores
$cl1: #2574a9; // blue
$cl2: #c0392b; // red
$cl3: #565656; // gray
$cl4: #29aa64; // green
$cl5: #f1c40f; // yellow

// Fontes
$ft1: "changa_oneregular";
$ft2: "open_sanslight";

// Tamanhos
$t-pp: .750em; // 12px
$t-p: .875em; // 14px
$t-m: 1em; // 16px
$t-g: 1.5em; // 24px
$t-gg: 1.875em; // 30px

// Variaveis Conteudo 